@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/Gotham-Light.otf");
}
@font-face {
  font-family: "Gotham-Bold";
  src: url("../public/fonts/Gotham-Bold.otf");
}
